/* general styling */

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color: #777;
	/*background-image: "./assets/images/order-of-phoenix.jpg";*/
	/*background-image: url("../images/order-of-phoenix.jpg");*/
	background-attachment: fixed;
  /*background: #000;*/
	/*background: #fff;*/
}


.container.wrapper {
	/* this top padding is used to offset the navbar's absolute positioning.  For smaller viewport, media query is used to remove top-padding and change navbar positioning to static */
	padding-top: 120px;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.square {
	border-radius: 0!important;
}

.btn-load-images {
	margin-right: 1em	;
	/*margin-bottom: 1em;*/
	margin-top: 1em;
}

.topic-search-button {
	margin-top: 1em;
}

#search-box-x.disabled {
	color: #ccc
}



/* the border for the topic search form input is difficult to see, so when invalid, increase border width */
input.is-invalid {

	border-width: 4px;
}



/* position an "x" button at end of search-box-input to let user clear the input */
#search-box-x {
	position: absolute;
	right: 30px;
	top: 95px;
}

/* The place holder text for a form-input for my bootstrap theme is not dim. Adjust*/
#new-topic::placeholder, #new-topic::placeholder,
#new-topic::-webkit-input-placeholder
{
	color: #aaa;
}


#new-topic::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}

#new-topic:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}

#new-topic:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}



/* .images-container will be inside a tab pane and contain all of the image cards for that topic*/
/* .images-container will typically fill up most of the page */

#images-tab-bar {
	margin-top: .5em;
}

.images-container {
	width: 100%;
	box-sizing: border-box;
	margin-top: 15px;
	/*margin-left: 15px;*/
	/*margin-right: 15px;*/
}



.images-container .card {
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	border: none;
	/*flex-shrink: 0;*/
	/*flex: 0 0 auto;*/
	page-break-inside: avoid;
	break-inside: avoid;

}

.images-container img {
	width: 100%;
	/*margin: 0;*/
}



#images-tab-bar.hidden {
	display: none;
}

#images-tab-bar {
	width: 100%;
}

#images-tab-bar .close {
	position: relative;
	right: -12px;
	top: 8px;
}


.tab-content {
	width: 100%;
}


.images-container {
	 flex-direction: column;
	 column-count: 3;

}



.gif-rating {
	background-color: #000 ;
	color: #fff;
}

.images-container .card-body {
	padding:0;
	margin-bottom: 0;
}


.gif-card {
	position: relative;
	width: 100%;
}


.gif-card .gif {
	width: 100%;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.gif-card .card-body .image-loaded {
	background: #000!important;
}

.image-wrapper {
	position: relative;
}



.nav-item {
	margin-left: 2em;
}



/* range slider. https://stackoverflow.com/questions/24463678/where-can-i-find-bootstrap-styles-for-html5-range-inputs*/
#slider {
  width: 400px;
  height: 17px;
  position: relative;
  margin: 10px auto;
  background: #10171D;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}
#slider .bar {
  width: 388px;
  height: 5px;
  background: #333;
  position: relative;
  top: -13px;
  left: 4px;
  background: #1d2e38;
  background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d2e38), color-stop(50%, #2b4254), color-stop(100%, #2b4254));
  background: -webkit-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -o-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -ms-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d2e38', endColorstr='#2b4254', GradientType=1);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
#slider .highlight {
  height: 2px;
  position: absolute;
  width: 388px;
  top: 6px;
  left: 6px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.25);
}
input[type="range"] {
  -webkit-appearance: none;
  background-color: black;
  height: 2px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 11px;
  height: 11px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
}
input[type="range"]:hover ~ #rangevalue,
input[type="range"]:active ~ #rangevalue {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: -75px;
}
/* Tool Tip */

#rangevalue {
  color: white;
  font-size: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: block;
  color: #fff;
  margin: -20px 0;
  position: relative;
  left: 44.5%;
  /*padding: 6px 12px;*/
  padding: 6px 24px 6px 12px;
  border: 1px solid black;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222931), color-stop(100%, #181D21));
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: -95px;
}
input[type="range"]:focus {
  outline: none;
}