/* general styling */

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color: #777;
	/*background-image: "./assets/images/order-of-phoenix.jpg";*/
	/*background-image: url("../images/order-of-phoenix.jpg");*/
	background-attachment: fixed;
  /*background: #000;*/
	/*background: #fff;*/
}


.container.wrapper {
	/* this top padding is used to offset the navbar's absolute positioning.  For smaller viewport, media query is used to remove top-padding and change navbar positioning to static */
	padding-top: 120px;
	padding-bottom: 40px;
	margin-bottom: 40px;
}

.square {
	border-radius: 0!important;
}

.btn-load-images {
	margin-right: 1em	;
	/*margin-bottom: 1em;*/
	margin-top: 1em;
}

.topic-search-button {
	margin-top: 1em;
}

#search-box-x.disabled {
	color: #ccc
}

.card.user-authentication  {
  /*display: none;*/
}

.card.game {
  display: none;
}


.card#available-users {
  display: none;
}

/* the border for the topic search form input is difficult to see, so when invalid, increase border width */
input.is-invalid {

	border-width: 4px;
}


.game.chat .playerid.player {
  color : blue;

}
.game.chat .playerid.opponent {
  color: red;
}

/* position an "x" button at end of search-box-input to let user clear the input */
#search-box-x {
	position: absolute;
	right: 30px;
	top: 95px;
}

/* The place holder text for a form-input for my bootstrap theme is not dim. Adjust*/
#new-topic::placeholder, #new-topic::placeholder,
#new-topic::-webkit-input-placeholder
{
	color: #aaa;
}



#new-topic::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}

#new-topic:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}

#new-topic:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}



/* .images-container will be inside a tab pane and contain all of the image cards for that topic*/
/* .images-container will typically fill up most of the page */

#images-tab-bar {
	margin-top: .5em;
}

.images-container {
	width: 100%;
	box-sizing: border-box;
	margin-top: 15px;
	/*margin-left: 15px;*/
	/*margin-right: 15px;*/
}



.images-container .card {
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	border: none;
	/*flex-shrink: 0;*/
	/*flex: 0 0 auto;*/
	page-break-inside: avoid;
	break-inside: avoid;

}

.images-container img {
	width: 100%;
	/*margin: 0;*/
}



#images-tab-bar.hidden {
	display: none;
}

#images-tab-bar {
	width: 100%;
}

#images-tab-bar .close {
	position: relative;
	right: -12px;
	top: 8px;
}


.tab-content {
	width: 100%;
}


.images-container {
	 flex-direction: column;
	 column-count: 3;

}



.gif-rating {
	background-color: #000 ;
	color: #fff;
}

.images-container .card-body {
	padding:0;
	margin-bottom: 0;
}


.gif-card {
	position: relative;
	width: 100%;
}


.gif-card .gif {
	width: 100%;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.gif-card .card-body .image-loaded {
	background: #000!important;
}

.image-wrapper {
	position: relative;
}



.nav-item {
	margin-left: 2em;
}


/*.ordered .list-group-item {
    display: list-item;
}

*/

.ordered.list-group {
    list-style: decimal inside;
}


.ordered .list-group-item {
    display: list-item;
}


#helpModal {
  width: 50%;
}