/* general styling */

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #000;
  background-attachment: fixed;
  background: #000;
  /*background: #fff;*/
}


.container.wrapper {
  /* this top padding is used to offset the navbar's absolute positioning.  For smaller viewport, media query is used to remove top-padding and change navbar positioning to static */
  padding-top: 90px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.square {
  border-radius: 0!important;
}


.card.user-authentication  {
  /*display: none;*/
}

.jumbotron {
  display: none;
}

.card.game {
   display: none;
}


.card#available-users {
   display: none;
}

.card#available-users .btn {
  margin-left: 1em;
}


#registration-feedback-div {
  display: none;
}




/* the actual chat messages. Will show once there is a message to display*/
.game.chat .card-footer {
  font-family: "Arial Black", Verdana, Courier, Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: none;
}

.game.chat .playerid {
  font-weight: bold
}

.game.chat .playerid.player {
  color : blue;

}
.game.chat .playerid.opponent {
  color: red;
}

.card {
  margin-bottom : 2em;
}

.card#available-users .card-body {
  min-height: 10em;
 }


/*


.tab-content {
  width: 100%;
}
*/



.nav-item {
  margin-left: 2em;
}


/*.ordered .list-group-item {
    display: list-item;
}

*/

.ordered.list-group {
    list-style: decimal inside;
}


.ordered .list-group-item {
    display: list-item;
}


#helpModal {
  /*width: 50%;*/
}
.model-content {
  /*width: 100%;*/
}





/*Modal Styling*/
#modal-login-form, #modal-registration-form{
  padding-bottom:20px;
}

.nav-tabs {
    margin-bottom: 15px;
}

.sign-with {
    margin-top: 25px;
    padding: 20px;
}

@media only screen and (min-width: 992px) {
  .add-right-border {
    border-right: 1px dotted #C2C2C2;
    padding-right: 30px;
  }
  div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
  }
}


@media only screen and (max-width: 991px) {
  #nav-tabContent {
    border-bottom: 1px dotted #C2C2C2;
    /* padding-left: 20px; */
  }
  /* .add-right-border {                  */
  /*   border-bottom: 1px dotted #C2C2C2; */
  /* }                                    */
  div#OR {
      height: 30px;
      width: 30px;
      border: 1px solid #C2C2C2;
      border-radius: 50%;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      font-size: 12px;
      /* float: right;       */
      /* position: absolute; */
      /* right: -16px;       */
      /* top: 40%;           */
      position: relative;
      top: -16px;
      left: 46%;
      z-index: 1;
      background: #DFDFDF;
  }
}

/* div#OR { */
    /* height: 30px; */
    /* width: 30px; */
    /* border: 1px solid #C2C2C2; */
    /* border-radius: 50%; */
    /* font-weight: bold; */
    /* line-height: 28px; */
    /* text-align: center; */
    /* font-size: 12px; */
    /* float: right; */
    /* position: absolute; */
    /* right: -16px; */
    /* top: 40%; */
    /* z-index: 1; */
    /* background: #DFDFDF; */
/* } */

.btn#github-signin {
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2);
}

#github-signin:hover {
    color: #fff;
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2);
}

#github-signin:not([disabled]):not(.disabled).active, #github-signin:not([disabled]):not(.disabled):active {
    /* border-color: #b21f2d;                       */
    /* box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5); */
    /* background-color: #1a252f; */
    box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
    border-color: #151e27;
}
